.vtrmd3_farm_009_2207 {
  background: url('./img/bg.jpg') 0 0 / contain no-repeat;
  .popup-wrapper {
    position: absolute;
    top: -130px;
    width: 150vw;
    height: 150vh;
    background: rgba(0, 0, 0, 0.7);

    .popup__close {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100px;
    }
  }

  .close_2 {
    position: absolute;
    width: 103px;
    height: 103px;
    background: url('./img/close_2.png') 0 0 / contain no-repeat;
    top: 178px;
    left: 841px;
  }

  .pop2-content {
    position: absolute;
    width: 314px;
    height: 216px;
    background: url('./img/pop2-content.png') 0 0 / contain no-repeat;
    top: 247.5px;
    left: 469px;
  }

  .pop2-base {
    position: absolute;
    width: 578.5px;
    height: 370px;
    background: url('./img/pop2-base.png') 0 0 / contain no-repeat;
    top: 179.5px;
    left: 373.5px;
  }

  .close_1 {
    position: absolute;
    width: 103px;
    height: 103px;
    background: url('./img/close_1.png') 0 0 / contain no-repeat;
    top: 178px;
    left: 938.5px;
  }

  .pop1-txt {
    position: absolute;
    width: 606.5px;
    height: 250.5px;
    background: url('./img/pop1-txt.png') 0 0 / contain no-repeat;
    top: 247.5px;
    left: 360.5px;
  }

  .pop1-bse {
    position: absolute;
    width: 760.5px;
    height: 398.5px;
    background: url('./img/pop1-bse.png') 0 0 / contain no-repeat;
    top: 181px;
    left: 288px;
  }

  .title {
    position: absolute;
    width: 627px;
    height: 54.5px;
    background: url('./img/title.png') 0 0 / contain no-repeat;
    top: 116px;
    left: 129px;
  }

  .dsclr {
    position: absolute;
    width: 1112.5px;
    height: 51.5px;
    background: url('./img/dsclr.png') 0 0 / contain no-repeat;
    top: 738.5px;
    left: 149px;
  }

  .buttons {
    position: absolute;
    top: 0px;
  }

  .st_1_txt {
    position: absolute;
    width: 1108px;
    height: 523.5px;
    background: url('./img/st_1_txt.png') 0 0 / contain no-repeat;
    top: 203px;
    left: 86px;
    pointer-events: none;
  }

  .st_1_packs {
    position: absolute;
    width: 1026px;
    height: 370px;
    background: url('./img/st_1_packs.png') 0 0 / contain no-repeat;
    top: 169.5px;
    left: 154.5px;
  }

  .st_2_txt_block {
    position: absolute;
    width: 351.5px;
    height: 318px;
    background: url('./img/st_2_txt_block.png') 0 0 / contain no-repeat;
    top: 214.5px;
    left: 467.5px;
  }

  .st_2_packs {
    position: absolute;
    width: 1025.5px;
    height: 370.5px;
    background: url('./img/st_2_packs.png') 0 0 / contain no-repeat;
    top: 169px;
    left: 155px;
  }

  .help_icon {
    position: absolute;
    width: 28.5px;
    height: 31.5px;
    background: url('./img/help_icon.png') 0 0 / contain no-repeat;
    top: 691.5px;
    left: 625.5px;
  }

  .pgn_txt_2 {
    position: absolute;
    width: 73.5px;
    height: 15.5px;
    background: url('./img/pgn_txt_2.png') 0 0 / contain no-repeat;
    top: 646px;
    left: 701px;
  }

  .pgn_txt_1 {
    position: absolute;
    width: 71px;
    height: 39px;
    background: url('./img/pgn_txt_1.png') 0 0 / contain no-repeat;
    top: 635.5px;
    left: 504px;
  }

  .btn_on_2 {
    position: absolute;
    width: 40px;
    height: 39px;
    background: url('./img/btn_on_2.png') 0 0 / contain no-repeat;
    top: 635px;
    left: 638px;
    pointer-events: none;
  }

  .btn_on_1 {
    position: absolute;
    width: 40px;
    height: 39px;
    background: url('./img/btn_on_1.png') 0 0 / contain no-repeat;
    top: 635px;
    left: 598px;
    pointer-events: none;
  }

  .btn_base {
    position: absolute;
    width: 92px;
    height: 51px;
    background: url('./img/btn_base.png') 0 0 / contain no-repeat;
    top: 629.5px;
    left: 592px;
  }

  .dot1 {
    position: absolute;
    width: 98px;
    height: 98.5px;
    background: url('./img/dot1.png') 0 0 / contain no-repeat;
    top: 607px;
    left: 1009.5px;
  }

  .dot2 {
    position: absolute;
    width: 54.5px;
    height: 89.5px;
    background: url('./img/dot2.png') 0 0 / contain no-repeat;
    top: 624.5px;
    left: 0px;
  }

  .dot3 {
    position: absolute;
    width: 84.5px;
    height: 80px;
    background: url('./img/dot3.png') 0 0 / contain no-repeat;
    top: 159px;
    left: 1152.5px;
  }

  .dot4 {
    position: absolute;
    width: 98px;
    height: 98.5px;
    background: url('./img/dot4.png') 0 0 / contain no-repeat;
    top: 286.5px;
    left: 1140.5px;
  }

  .dot5 {
    position: absolute;
    width: 108.5px;
    height: 89.5px;
    background: url('./img/dot5.png') 0 0 / contain no-repeat;
    top: 363.5px;
    left: 34.5px;
  }

  .column_2 {
    position: absolute;
    width: 385px;
    height: 334px;
    background: url('./img/column_2.png') 0 0 / contain no-repeat;
    top: 466px;
    left: 824.5px;
  }

  .column_1 {
    position: absolute;
    width: 385px;
    height: 329px;
    background: url('./img/column_1.png') 0 0 / contain no-repeat;
    top: 470.5px;
    left: 69.5px;
  }

  .dot7 {
    position: absolute;
    width: 84.5px;
    height: 80px;
    background: url('./img/dot7.png') 0 0 / contain no-repeat;
    top: 624.5px;
    left: 779px;
  }

  .btn_schema {
    position: absolute;
    width: 305px;
    height: 102px;
    background: url('./img/btn_schema.png') 0 0 / contain no-repeat;
    top: 532px;
    left: 489px;
  }
}
@media (width: 1024px) {
  .vtrmd3_farm_009_2207 {
    background-size: cover;
    .scale-wrapper {
      position: absolute;
      transform: scale(0.8);
      top: 90px;
    }
    .buttons{
      top: 40px;
    }
    .btn_on_1{
      top: 675px;
    }
    .btn_on_2{
      top: 675px;
    }
    .dsclr {
      top: 785px;
    }
    .column_1,
    .column_2 {
      top: 520px;
    }
    .st_1_packs,
    .st_2_packs {
      top: 220px;
    }
    .st_1_txt,
    .st_2_txt_block {
      top: 250px;
    }
    .dot1 {
      top: 657px;
    }
  }
}
